@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  box-sizing: border-box;
}
hr {
  color: orange;
}
header {
  padding-top: 80px;
  border-top: 3px solid #FFD700;
}
/* .nav {
  display: block;
  overflow: auto;
  height: 40px;
  width: 100%;
  background-color: gold;
  padding-top: 37px;
  margin-bottom: -30px;
  text-align: center;
  list-style: none;
  float: right;
} */
#logo, #logoDetailView{
  float: left;
  cursor: pointer;
}
#logo h1 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #111111;
  float: left;
  cursor: pointer;
}
#logo h2, #logoDetailView h2 {
    margin-top: -20px;
    padding-left: 2px;
}
#logo h2, #logoDetailView h2 {
    font-family: "Titillium Web", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    text-rendering: auto;
}
nav {
  /* background-color: gold; */
  padding: 20px;
  overflow: auto;
}
nav h1 {
  float: left;
}
nav ul {
  float: right;
  list-style: none;
}
nav ul li {
  float: left;
  margin: 0 10px;
}
.currentPage, button.currentPage:hover {
  color: #b8ccf7 !important;
}
ul {
  display: list-item;
  list-style-type: none;
  margin: 1em 0;
  padding-left: 40px;
}
li {
  display: list-item;
  text-align: inherit;
}
/* button {
  overflow: visible;
  text-transform: none;
}
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
#imemine {
  float: left;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}
#box {
  width: 600px;
  margin: 10px 10px;
  overflow: auto;
  box-sizing: border-box;
}
#tobe {
  text-align: center;
  font-style: italic;
}
#about {
  font-style: italic;
  text-align: left;
  margin-left: 10px;
} */
body {
  background-color: lightblue;
}
p {
  text-align: center;
}
